@font-face {
  font-family: 'kaushan_scriptregular';
  src: url('../assets/fonts/kaushanscript/kaushanscript-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/kaushanscript/kaushanscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


.car-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .car-card {
    width: 300px;
    height: 100%;
    display: flex;
     /* align-items: center; 
    justify-content: center; */
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden; 
    
    transition: transform 0.5s;
  
  }

  .card-front{
    font-family: 'kaushan_scriptregular', Arial, sans-serif;
    background-image: url(/src/assets/images/tarotBack.png);
    background-size: cover;
    height: 50vh; 
    width: 30vh;
    border-radius: 10px;
   background-position: center;
  background-repeat: no-repeat;
    background-size: cover;   
    color: #fff;
  }
  .card-back {
    font-family: 'kaushan_scriptregular', Arial, sans-serif;
    display: flex; 
  
    overflow-y: auto;
  
    /* border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center */
    /* justify-content: center;
    align-items: center; */
    color: #333;
    background-color: #eec986;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    height: 50vh; 
    width: 30vh;
    padding: 10px;
   
    
    background-image: linear-gradient(to bottom, rgba(238, 201, 134, 1) 0%, rgba(238, 201, 134, 1) 100%), linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-clip: content-box, padding-box;
  }
   .car-card img {
    max-width: 100%;
    max-height: 100%;
  } 
.borderTest{
  border: white, solid;
}

  @media(max-width:800px) {
    .car-card {
      max-width: 100%;
      max-height: 100%;
      align-items: center; 
    justify-content: center;
    /* border: 1px solid #ccc; */
    margin-bottom: 5px;
    }

    .card-back {
      padding: 5px;
    }
  }