@font-face {
  font-family: 'kingthings_willowregular';
  src: url('./assets/fonts/willow/kingthings_willow-webfont.woff2') format('woff2'),
       url('./assets/fonts/willow/kingthings_willow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'kaushan_scriptregular';
  src: url('./assets/fonts/kaushanscript/kaushanscript-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/kaushanscript/kaushanscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



.navbar-toggler-icon{
  background-color: #326f8c;
  }
  

nav a.active{
  background-image: url(/src/assets/images/Tinycrown.png);
  background-repeat: no-repeat;
  background-position:center;
  color: #61dafb !important; 
  text-shadow: 0 0 3px #000000, 0 0 7px #000000; 
 
}

nav a.active:hover {
  cursor: pointer;
  background-image: url(/src/assets/images/Tinycrown.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #78c0de !important;
}

nav a:hover {
  cursor: pointer;
  color: #78c0de !important;
  background-position: center;
  background-repeat: no-repeat;
}

nav a.nav-link {
    color: #78c0de;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.navTitleBorder {
 border-top: 2px solid #eec986;
 border-bottom: 2px solid #eec986;
 padding: 2px;

  }

 

  .navBarBrand {
    font-family: 'kaushan_scriptregular', Arial, sans-serif;
    font-family: 'kaushan_scriptregular', Arial, sans-serif;
      color: #78c0de;
      font-size: 2rem;
    
  }

 
    .navLink{
      font-family: 'kaushan_scriptregular', Arial, sans-serif;
      color: #78c0de;
    }

    .rounded {
      border-radius: 10px;
     size: 20px ;
    }


    .footer{
     
      position:sticky;
      left:0;
      bottom:0;
      right:0;
      background-color: #000; 
      color: #78c0de;
    }

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

/* .main {

  background-image: url(/src/assets/images/bkround_crown.png);
 height: 70vh; 
   background-position: center;
  background-repeat: no-repeat;
    background-size: cover;   
   background-size: auto; 
  
} */


.splashContainer {

  background-image: url(/src/assets/images/bkround_crown2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 70vh; 
  background-position-y: bottom;
  position: relative;
}

.crownBkRound {
  background-image: url(/src/assets/images/bkround_crown.png);
  font-weight: bold;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;   
    /* background-color: #78c0de */
  /* background-size: auto; */
  
}


.splashFont{
  font-family: 'kaushan_scriptregular', Arial, sans-serif;
  color:white;
  font-size: xx-large;
  text-shadow: 0 0 3px #000000, 0 0 7px #000000; 
  text-decoration: none; 
}


a.splashFont:hover {
  cursor: pointer;
  color: #326f8c;
}

.splashTextLoc{
 position: absolute;
 bottom: 0;
}

.splashTitle{
  font-family: 'kaushan_scriptregular', Arial, sans-serif;
      /* 40px/16=2.5em */
      color: black;
      font-size: 4rem;
  text-shadow: 0 0 5px #61dafb, 0 0 7px #fff;  
  border-top: 3px solid #eec986;
  border-bottom: 3px solid #eec986;
  padding: 2px;
}


.aboutText{
  font-family: 'kaushan_scriptregular', Arial, sans-serif;
  font-size: large;
color: #000;
background: rgba(120, 192, 222, 0.7);
}



@media (max-width: 961px) {    
 
  nav a.active{
   background-position: left;
  }
  
  nav a.active:hover {
    background-position: left;
  }

  .splashTitle{
    font-size: 3rem;
  } 

}


@media (max-width: 576px ) {    
 
  .navBarBrand {
   
    font-size: 1rem;
    }

}




  













 






.borderTest{
  border: #4a1a08 solid;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}








