@font-face {
  font-family: 'kingthings_willowregular';
  src: url('./assets/fonts/willow/kingthings_willow-webfont.woff2') format('woff2'),
       url('./assets/fonts/willow/kingthings_willow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.title {
  font-family: 'kingthings_willowregular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  color: #4a1a08;
  }

  .navTitle {
    font-family: 'kingthings_willowregular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    color: #4a1a08;
    }


    .rounded {
      border-radius: 10px;
     size: 20px ;
    }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.baseText{
  color: #4a1a08;
}


.App-link {
  color: #61dafb;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
